$primary-color: rgb(197, 34, 197);

.button {
    display: flex;
    flex-direction: column;
    max-width: 400px;

    label {
        font-weight: bold;
    }

    button {
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
}